<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="" class="form-ItemName">Numero orden</label>
              <input
                type="text"
                class="form-control"
                placeholder="Numero de orden"
                #txtorden
              />
            </div>

            <div class="form-group col-md-12">
              <label for="" class="form-ItemName"
                >Identificacion del paciente</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Identificacion del paciente"
                #txtidentificacion
              />
            </div>

            <div class="form-group col-md-6">
              <label for="" class="form-ItemName">Fecha Inicio</label>
              <input type="date" class="form-control" #txtfechaIn />
            </div>

            <div class="form-group col-md-6">
              <label for="" class="form-ItemName">Fecha final</label>
              <input type="date" class="form-control" #txtfechaOut />
            </div>

            <div class="form-group col-md-12">
              <label for="">Seccion</label>

              <select class="form-control" #txtmodeloId>
                <option value="">--Seleccione--</option>
                <option
                  #txtmodeloId
                  *ngFor="let categoria of listacategoria"
                  [value]="categoria.id"
                >
                  {{ categoria.NOMBRE }}
                </option>
              </select>
            </div>

            <a
              class="btn btn-primary"
              (click)="
                buscarOrden(
                  txtorden.value,
                  txtidentificacion.value,
                  txtmodeloId.value,
                  txtfechaIn.value,
                  txtfechaOut.value
                )
              "
              >Buscar</a
            >

            <a
              class="btn btn-danger"
              (click)="
                borrarFiltros(
                  txtorden.value,
                  txtidentificacion.value,
                  txtmodeloId.value,
                  txtfechaIn.value,
                  txtfechaOut.value
                )
              "
              >Borrar filtros</a
            >

            <!--
            <a class="btn btn-primary" (click)="buscarOrden(txtorden.value, txtidentificacion.value)">Buscar</a> -->
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 20%">
                    Ordenes {{ listaordenesingresdas.length }}
                  </th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of listaordenesingresdas
                      | paginate: { itemsPerPage: 10, currentPage: page }
                  "
                >
                  <td (click)="getOrdenId(item)">
                    {{ item.numeroorden }} <br />
                    {{ item.paciente.apellidos }}, {{ item.paciente.nombres }}
                  </td>
                  <td>
                    <div class="left-content">
                      <div
                        [ngClass]="{
                          generado: item.estado === 1,
                          reportado: item.estado === 2,
                          validado: item.estado !== 1 && item.estado !== 2
                        }"
                        [ngSwitch]="item.estado"
                      >
                        <p *ngSwitchCase="1">Generado</p>
                        <p *ngSwitchCase="true">Generado</p>

                        <p *ngSwitchCase="2">Procesado</p>
                        <p *ngSwitchCase="3">Validado</p>
                        <p *ngSwitchDefault>Eliminada</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="page = $event"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="demographic-card">
        <h2 class="demographic-title">Datos Demográficos</h2>
        <div class="demographic-content">
          <div class="demographic-column">
            <p>
              <strong>Número de petición:</strong>
              {{ listaordenesid?.numeroorden }}
            </p>
            <p>
              <strong>Origen:</strong>
              {{ listaordenesid?.tipoatencion?.nombre }}
            </p>
            <p>
              <strong>Tipo Orden:</strong>
              {{ listaordenesid?.tiposervicio?.nombre }}
            </p>
            <p>
              <strong>Observaciones:</strong>
              {{ listaordenesid?.observaciones }}
            </p>
          </div>
          <div class="demographic-column">
            <p>
              <strong>Apellidos, Nombres:</strong>
              {{ listaordenesid?.paciente?.apellidos }} ,
              {{ listaordenesid?.paciente?.nombres }}
            </p>
            <p>
              <strong>Cédula:</strong> {{ listaordenesid?.paciente?.numero }}
            </p>
            <p><strong>Sexo:</strong> {{ listaordenesid?.paciente?.sexo }}</p>
            <p>
              <strong>Fecha de nacimiento:</strong>
              {{ listaordenesid?.paciente?.fechanac | utcDate: "YYYY-MM-dd" }}
            </p>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <div
          *ngIf="cargando"
          class="alert alert-info text-center mt-3 animated fadeIn faster"
        >
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fas fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">Espere por favor</p>
        </div>

        <div *ngIf="!cargando" class="table-responsive">
          <table *ngIf="agrupadas.length > 0" class="table">
            <thead>
              <tr>
                <th style="width: 5%">Codigo</th>
                <th style="width: 25%">Nombre de la prueba</th>

                <th style="width: 10%">Resultado</th>
                <th style="width: 10%">Unidad</th>
                <th style="width: 10%">Valor Referencia</th>

                <th style="width: 5%">Alarma</th>
                <th style="width: 10%">Comentario</th>
           <!--      <th style="width: 15%">Ultimo resultado</th> -->
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let modelo of agrupadas">
                <tr>
                  <th colspan="7">
                    <div class="contente-wrapper">
                      <!-- Contenido alineado a la izquierda -->
                      <div class="left-content">
                        <p>{{ modelo.categoria }}</p>
                       <!--  <p>{{ modelo.item.estado }}</p> -->

                        <div
                        [ngClass]="{
                          generado: modelo.item.estado === 1,
                          reportado: modelo.item.estado === 4,
                          validado: modelo.item.estado === 3
                        }"
                        [ngSwitch]="modelo.item.estado"
                      >
                        <p *ngSwitchCase="1">Generado</p>
                        <p *ngSwitchCase="4">Reportado</p>
                        <p *ngSwitchDefault>Validado</p>
                      </div>
                    </div>

                      <!-- Contenido alineado a la derecha -->
                      <div class="right-content">
                        <!--     <span class="badge badge-info">{{ modelo.item.total }}</span> -->
                        <span>
                          <i
                            (click)="guardarResultados(modelo.item.pruebas)"
                            class="bx bxs-save"
                          ></i>
                          <i
                            *ngIf="validarPruebasValor(modelo.item.pruebas)"
                            (click)="ValidarParcial(modelo)"
                            class="bx bxs-check-circle"
                          ></i>
                        </span>
                      </div>
                    </div>
                  </th>
                </tr>

                <ng-container
                  *ngFor="let prueba of modelo.item.pruebas; let i = index"
                >
                  <tr>
                    <td>{{ prueba.panelprueba.CODIGO }}</td>
                    <td>{{ prueba.panelprueba.NOMBRE }}</td>
                    <!--            [disabled]="!prueba.resultado" -->
                    <td>
                      <div>
                        <input
                          class="form-control"
                          #resultado
                          (keyup)="resultados($event, prueba)"
                          type="text"
                          [value]="prueba.resultado"
                          autofocus
                        />
                      </div>
                    </td>

                    <td>
                      {{ prueba.panelprueba?.rango?.unidad?.DESCRIPCION }}
                    </td>
                    <td>{{ prueba.panelprueba?.rango?.rangos }}</td>


                    <td>
                      <ng-container
                        [ngSwitch]="validarResultadoConRango(prueba)"
                      >
                        <i
                          *ngSwitchCase="'alto'"
                          class="bx bxs-up-arrow bx-sm text-danger"
                        ></i>
                        <i
                          *ngSwitchCase="'bajo'"
                          class="bx bxs-down-arrow bx-sm text-warning"
                        ></i>
                        <i
                          *ngSwitchCase="'normal'"
                          class="bx bx-check bx-sm text-success"
                        ></i>
                      </ng-container>
                    </td>
                    <td>
                      <i class="bx bxs-message-alt-add bx-rotate-270"></i>
                    </td>
                 <!--    <td
                    data-toggle="modal"
                    data-target="#modal-HistoricoPruebas"
                    (click)="historicoResultados(prueba)"
                  >
                    {{ prueba.historioresultado[0]?.resultado }}
                  </td> -->
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!-- <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
          nextLabel="Siguiente"></pagination-controls> -->
      </div>
    </div>
    Validar
  </div>
</div>
<div class="modal fade" id="modal-HistoricoPruebas">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Historial de examenes</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>

                    <th class="th_modal_pruebas">Examen</th>
                    <th class="th_modal_pruebas">Resultado</th>
                    <th class="th_modal_pruebas">Rangos</th>
                    <th class="th_modal_pruebas">Unidad</th>
                    <th class="th_modal_pruebas">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let it of historicoresultados">

                    <td class="td_modal_pruebas">
                      <i class="bx bx-test-tube bx-tada"> </i>
                      {{ it.panelprueba.NOMBRE }}
                    </td>

                    <td class="td_modal_pruebas">{{ it?.resultado }}</td>
                    <td class="td_modal_pruebas">
                      {{ it.rango?.rangoMin }} - {{ it.rango?.rangoMax }}
                    </td>
                    <td class="td_modal_pruebas">
                      {{ it.rango?.unidad.DESCRIPCION }}
                    </td>
                    <td class="td_modal_pruebas">{{ it.fechaorden }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
