
.table {
     width: 100%;
     border-collapse: separate;
     border-spacing: 0 10px; /* Espaciado entre filas */
   }
   
   .table th {
     background-color: #f4f6f9; /* Fondo sutil para encabezados */
     font-weight: bold;
     padding: 10px;
     color: #444;
   }
   
   .table td {
     padding: 5px 10px;
     vertical-align: middle;
   }
   
   .table td input[type="text"] {
     padding: 8px;
     border: 1px solid #ddd;
     border-radius: 4px;
     width: 100%;
   }
   
   .badge {
     background-color: #007bff;
     color: #fff;
     padding: 5px 10px;
     border-radius: 5px;
   }
   
   .btn {
     padding: 8px 15px;
     font-weight: bold;
     border-radius: 4px;
   }
   
   .btn-primary {
     background-color: #28a745; /* Verde para el botón de guardar */
     border-color: #28a745;
   }
   
   .btn-primary:hover {
     background-color: #218838; /* Color al pasar el cursor */
   }
   
   .btn-secondary {
     background-color: #6c757d; /* Gris para botón secundario */
     border-color: #6c757d;
   }
   
   .alarm-icon {
     color: #ffc107; /* Amarillo para fuera de rango */
   }
   
   .alarm-icon.success {
     color: #28a745; /* Verde para dentro del rango */
   }
   
   .tooltip {
     position: relative;
     display: inline-block;
   }
   
   .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: #333;
     color: #fff;
     text-align: center;
     border-radius: 5px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 100%; /* Colocación encima del ícono */
     left: 50%;
     margin-left: -60px;
   }
   
   .tooltip:hover .tooltiptext {
     visibility: visible;
   }
   
   .disabled-icon {
     opacity: 0.5;
   
     pointer-events: none;
   }
   .demographic-card {
     background-color: #f8f9fa; /* Fondo claro */
     border: 1px solid #ddd; /* Borde suave */
     border-radius: 8px;
     padding: 15px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
     margin-bottom: 20px;
   }
   
   .demographic-title {
     font-size: 1.2em;
     font-weight: bold;
     color: #333;
     border-bottom: 1px solid #ddd;
     padding-bottom: 10px;
     margin-bottom: 10px;
   }
   
   .demographic-content {
     display: flex;
     justify-content: space-between;
   }
   
   .demographic-column {
     width: 48%; /* Ancho de cada columna */
   }
   
   .demographic-column p {
     font-size: 0.95em;
     color: #555;
     line-height: 1.6;
     margin: 5px 0;
   }
   
   .demographic-column p strong {
     color: #333; /* Resaltar títulos */
   }




   /* Estilos para el modal */
#modal-info .modal-dialog {
     max-width: 900px; /* Ajusta el ancho del modal */
     margin: 30px auto;
   }
   
   #modal-info .modal-content {
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     background: #f9f9f9;
   }
   
   #modal-info .modal-header {
     background-color: #3bb06a;
     color: #fff;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
   
   #modal-info .modal-title {
     font-size: 1.5rem;
     font-weight: bold;
   }
   
   #modal-info .close {
     color: #fff;
     opacity: 0.8;
   }
   
   #modal-info .close:hover {
     opacity: 1;
   }
   
   /* Estilos para los inputs y selects */
   #modal-info .form-control {
     border: 1px solid #ced4da;
     border-radius: 5px;
     padding: 10px;
     font-size: 14px;
   }
   
   #modal-info .form-control:focus {
     border-color: #3bb06a;
     box-shadow: 0 0 5px rgba(24, 180, 47, 0.5);
   }
   
   #modal-info .form-group label {
     font-weight: bold;
     color: #333;
   }
   
   /* Botón de guardar */
   #modal-info .btn-primary {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     font-weight: bold;
     border-radius: 5px;
     transition: background-color 0.3s ease;
   }
   
   #modal-info .btn-primary:hover {
     background-color: #139446;
   }
   
   /* Estilos para los mensajes de error */
   #modal-info .text-danger {
     font-size: 12px;
   }
   
   /* Ajuste para el área de texto */
   #modal-info .textarea-mod {
     resize: none;
     border: 1px solid #ced4da;
   }
   
   /* Separadores */
   #modal-info hr {
     border-top: 2px solid #3bb06a;
     margin: 10px 0;
   }
   
   /* Diseño responsivo */
   @media (max-width: 768px) {
     #modal-info .modal-dialog {
       max-width: 100%;
       margin: 10px;
     }
   
     #modal-info .col-md-4,
     #modal-info .col-md-8 {
       width: 100%;
     }
   
     #modal-info .btn-primary {
       font-size: 14px;
     }
   }
   
   