<div class="container-fluid rounded shadow">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <fieldset class="filtro-container">
            <p class="filtro-titulo">Filtros de busqueda</p>
            <div class="row">
              <!--  <div class="form-group col-md-2">
                <label for="text " class="form-ItemName">Identificador</label>
                <input
                  type="text"
                  class="form-control"
                  (keyup)="onSearchOrden(txtsearch.value)"
                  placeholder="Numero de cédula ..."
                  #txtsearch
                />
              </div> -->

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName"
                  >Apellidos del paciente</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar por apellidos ..."
                  #txtsearchNombre
                />
              </div>

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName">Filtrar por fecha</label>
                <input
                  type="date"
                  class="form-control"
                  [value]="fechaActual"
                  #txtfecha
                  (change)="getOrdenes(txtfecha.value)"
                />
              </div>

              <div class="col-md-4 btn-botones">


                <button
(click)="exportarData()"
                  class="btn btn-secondary btn-sm"
                >
                  Exportar data
                </button>
              </div>

            </div>
          </fieldset>

          <div
            *ngIf="cargando"
            class="alert alert-info text-center mt-3 animated fadeIn faster"
          >
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fas fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">Espere por favor</p>
          </div>

          <div class="row animated fadeIn fast" *ngIf="!cargando">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      *ngIf="!cargando && listaordenes.length > 0"
                      class="table"
                    >
                      <thead>
                        <tr>
                          <th class="title_orden">#. Orden</th>

                          <th class="title_paciente">Paciente</th>
                          <th>Origen</th>

                          <th style="width: 10%">Estado</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          *ngFor="
                            let orden of listaordenes
                              | paginate
                                : { itemsPerPage: 10, currentPage: page }
                          "
                        >
                          <td>{{ orden?.numeroorden }} <br /></td>

                          <td>
                            {{ orden?.nombres }}
                          </td>
                          <td>
                            {{ orden?.origen }}
                          </td>
                          <td>
                            <div [ngSwitch]="orden.estado">
                              <div *ngSwitchCase="true">Generado</div>
                              <div *ngSwitchDefault>Procesado</div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="page = $event"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
