<div class="container-fluid rounded shadow">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <fieldset class="filtro-container">
            <p class="filtro-titulo">Filtros de busqueda</p>
            <div class="row">
              <!--  <div class="form-group col-md-2">
                <label for="text " class="form-ItemName">Identificador</label>
                <input
                  type="text"
                  class="form-control"
                  (keyup)="onSearchOrden(txtsearch.value)"
                  placeholder="Numero de cédula ..."
                  #txtsearch
                />
              </div> -->

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName">N.- orden</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar numero de ordenes ..."
                  #txtsearchorden
                  (keyup)="onSearchOrden(txtsearchorden.value)"
                />
              </div>

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName"
                  >Filtrar por estado</label
                >
                <select class="form-control" (change)="onsearchEstado($event)">
                  <option value="">--Seleccione --</option>
                  <option value="1">Generado</option>
                  <option value="2">Procesado</option>
                </select>
                <!--  <input
                  type="date"
                  class="form-control"
                  [value]="fechaActual"
                  #txtestado
                  (click)="onsearchEstado(txtestado.value)"
                /> -->
              </div>

              <div *ngIf="listaordenes.length > 0" class="col-md-4 btn-botones">
                <button
                  (click)="exportarData()"
                  class="btn btn-secondary btn-sm"
                >
                  Exportar data
                </button>
              </div>
            </div>
          </fieldset>

          <div *ngIf="cargando" class="descargando-overlay">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Descargando...</span>
            </div>
            <p class="text-white mt-2">Descargando ordenes...</p>
          </div>

          <div class="row animated fadeIn fast" *ngIf="!cargando">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      *ngIf="!cargando && listaordenes.length > 0"
                      class="table"
                    >
                      <thead>
                        <tr>
                          <th style="width: 12%">#. Orden</th>

                          <th style="width: 30%">Paciente</th>
                          <th style="width: 20%">Origen</th>
                          <th style="width: 25%">Pruebas</th>
                          <th style="width: 15%">Resultado</th>
                          <th style="width: 10%">Estado</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          *ngFor="
                            let orden of listaordenes
                              | filtroExport: searchorden : searchEstado
                              | paginate
                                : { itemsPerPage: 10, currentPage: page }
                          "
                        >
                          <td>{{ orden?.numeroorden }} <br /></td>

                          <td>
                            {{ orden?.nombres }}
                          </td>
                          <td>
                            {{ orden?.origen }}
                          </td>
                          <td class="centered-cell">
                            <ul class="item_pruebas">
                              <li
                                class="item"
                                *ngFor="let prueba of orden.pruebaImport"
                              >
                                ( {{ prueba.testID }}) - {{ prueba.testNAME }}
                              </li>
                            </ul>
                          </td>
                          <td class="centered-cell">
                            <ul class="item_pruebas">
                              <li
                                class="item"
                                *ngFor="let prueba of orden.pruebaImport"
                              >
                                <strong> {{ prueba.resultado || "-" }}</strong>
                              </li>
                            </ul>
                          </td>
                          <td>
                            <div [ngSwitch]="orden.estado">
                              <div *ngSwitchCase="true">
                                <span class="badge badge-warning"
                                  >Generado</span
                                >
                              </div>

                              <div *ngSwitchDefault>
                                <span class="badge badge-success"
                                  >Procesado</span
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="page = $event"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
