.filtro-container {
  border: 2px solid #dee2e6;
  padding: 20px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.filtro-titulo {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 12px;

  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: -14px;
}
.text_ordenes {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
/* * {
  outline: 1px solid blue;
} */

.centered-cell {
  /* centra el contenido inline */
  vertical-align: middle; /* centra verticalmente si lo necesitas */
}

.item_pruebas {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.item {
  white-space: nowrap;        /* No permite saltos de línea */
  overflow: hidden;           /* Oculta el texto que desborda */
  text-overflow: ellipsis;    /* Muestra los "..." */
  max-width: 200px;           /* Ajusta según el ancho deseado */
  display: block;             /* Asegura que funcione con block o inline-block */
}

