.button{
  float: right;
text-align: left;

}

.custom-option {
    white-space: nowrap; /* Para evitar que el texto se envuelva */
    width: 10%;
  }

  .li {
    list-style: none;
    left: 0;
    margin: auto 0;
  }
  
  .scroll2 {
    margin-right: 80px;
    width: 90%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  
    left: 0;
    /* text-align:justify; */
    cursor: pointer;
  }

  
.scroll2 li:hover {
  background-color: #b3ecb7;
}
.agregar{
  display: block;
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  background-color: #405dbd;
}
.agregar:hover{
  background-color: rgb(64, 159, 223);
}

