<div class="container-fluid">
  <form
    class="re"
    autocomplete="off"
    [formGroup]="importForm"
    novalidate
    (ngSubmit)="guardar()"
    id="importForm"
  >
    <div class="col-md-12">
      <div class="card card-info">
        <div class="card-header">
          <h6 class="card-title">Solicitud a bodega</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="form-ItemName"
                >Departamento solicitante / Area de trabajo</label
              >

              <select
                class="form-control"
                formControlName="AREA"
                [class.is-invalid]="AREA"
              >
                <option value="">--Seleccione--</option>
                <option *ngFor="let bodega of listabodega" [value]="bodega.id">
                  {{ bodega.NOMBRE }}
                </option>
              </select>
            </div>

            <div class="col-md-8">
              <div class="button">
                <a
                  *ngIf="btnValC === '1'"
                  type="submit"
                  class="btn btn-primary btn-sm"
                  (click)="cambioEstado()"
                >
                  {{ btnVal }}
                </a>
                &nbsp;

                <button
                  type="reset"
                  (click)="onreset()"
                  class="btn btn-danger btn-sm"
                >
                  Cancelar
                </button>
                &nbsp;

                <!--    <a *ngIf="   usuario.rol != 'OPERADOR'  " type="button" [class.disabled]="isChecking"
                  (click)="comprobarCantidad(pedidoseleccionado)" class="btn btn-secondary btn-sm">
                  {{ btnValC == "1" ? "Despachar" : "Validar" }}
                </a> -->
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th style="width: 30%">Producto</th>

                  <th>Marca</th>
                  <th>Cantidad ordenada</th>
                  <!--  <th>Total Stock</th> -->
                  <th>Actions</th>
                  <!-- <th *ngIf="usuario.rol != 'OPERADOR'">Entregado</th>
                  <th *ngIf="usuario.rol != 'OPERADOR'">Lote</th> -->
                </tr>
              </thead>
              <tbody formArrayName="PRODUCTOS">
                <!-- *ngFor="let d of importForm.get('PRODUCTOS')?.controls; let i = index" [formGroupName]="i"> -->
                <tr
                  *ngFor="let d of getProductos().controls; let i = index"
                  [formGroupName]="i"
                >
                  <td>
                    {{ d.get("NOMBRE")?.value }}
                    <div
                      class="limit-width form-group col-md-12"
                      #asBoxInput
                    ></div>
                  </td>
                  <td>{{ d.get("UNIDAD")?.value }}</td>
                  <td>
                    <input
                      class="form-control"
                      type="number"
                      [readonly]="!importForm.enabled || importForm.disabled"
                      formControlName="CANTIDAD"
                    />
                  </td>
                  <!--     <td>{{d.get('total')?.value}}</td> -->
                  <!-- <td>
                    <input type="number"  class="form-control" formControlName="ENTREGADO" >
                  </td>

                  <td *ngIf="usuario.rol != 'OPERADOR'">
                    {{ d.get('LOTE')?.value }}
                  </td> -->
                  <td class="actions">
                    <span class="span_delete">
                      <i class="bx bxs-trash" (click)="borrarProducto(i)">
                        Eliminar</i
                      >
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <a
              type="button"
              class="agregar"
              data-toggle="modal"
              data-target="#modal-info"
              >Agregar producto</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <hr />
<p>AQUIIUUI</p>
<pre>{{ importForm.valid }}</pre>
<pre>{{ importForm.value | json }}</pre>
 -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Buscar Productos</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-">
        <div class="container-fluid rounded shadow">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <input
                  #inputRef
                  class="input-src form-control"
                  [ngClass]="{ loading: isLoading }"
                  [spellcheck]="false"
                  placeholder="reactivos"
                  type="text"
                  (ngModelChange)="searchReactivos($event)"
                  [(ngModel)]="src"
                />
                <div class="card-body scroll2">
                  <ul class="ullist">
                    <li
                      (click)="actualizarInputs(item, selectedProductIndex)"
                      class="li"
                      *ngFor="let item of data$ | async"
                    >
                      {{ item.NOMBRE }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
