.button {
  display: flex;
  justify-content: end;
}

.custom-option {
  white-space: nowrap; /* Para evitar que el texto se envuelva */
  width: 10%;
}

.li {
  list-style: none;
  left: 0;
  margin: auto 0;
}

.scroll2 {
  margin-right: 80px;
  width: 90%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;

  left: 0;
  /* text-align:justify; */
  cursor: pointer;
}

.scroll2 li:hover {
  background-color: #b3ecb7;
}

