<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar por nombre"
          />

          <!--  <button (click)="enviarArchivo()" class="btn btn-primary">
              Subir archivo
            </button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="button">
            <button
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#modal-info"
            >
              <i class="bx bxs-plus-circle"></i>
              Agregar
            </button>
          </div>
          <!--  <h6 class="title">Lista de equipos</h6> -->

          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <div
              *ngIf="cargando"
              class="alert alert-info text-center mt-3 animated fadeIn faster"
            >
              <h4 class="alert-heading">Cargando</h4>
              <p>
                <i class="fas fa-sync-alt fa-spin fa-2x"></i>
              </p>
              <p class="mb-0">Espere por favor</p>
            </div>

            <div *ngIf="!cargando" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Empresa</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <!--  <th>Categoria</th>
                      <th>correo</th>
                     
                      <th>Serie</th> -->
                    <th>Estado</th>

                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let correo of listacorreo
                        | paginate: { itemsPerPage: 10, currentPage: page }
                    "
                  >
                  <td>{{ correo.empresa }}</td>
                    <td>{{ correo.nombres }}</td>
                    <td>{{ correo.apellidos }}</td>
                    <td>{{ correo.correo }}</td>
                    <td>
                      <div [ngSwitch]="correo.estado">
                        <div *ngSwitchCase="true">Activo</div>
                        <div *ngSwitchDefault>Inactivo</div>
                      </div>
                    </td>
                    <!--  <td>
                        <span
                          *ngIf="correo.ESTADO == '1'"
                          class="rounded shadow bg-pen"
                          >Activo
                        </span>
                      </td> -->
                    <!--  <td>
                      <span class="cursor">
                          <a
                            [ngClass]="{ 'disabled-icon': correo.ESTADO == '2' }"
                            [routerLink]="['/dashboard', 'correo', correo.id]"
                          >
                            <i
                              class="bx bxs-edit bx-sm"
                              data-toggle="modal"
                              data-target="#modal-info"
                            ></i> </a
                        ></span> -->
                    <td>
                      <span (click)="borrarcorreo()" class="cursor">
                        <i class="bx bxs-edit bx-sm"></i
                      ></span>
                      <span (click)="borrarcorreo()" class="cursor">
                        <i class="bx bxs-trash bx-sm"></i
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls
              (pageChange)="page = $event"
              previousLabel="Anterior"
              nextLabel="Siguiente"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear correo</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-">
        <div class="container-fluid rounded shadow">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <form
                  autocomplete="off"
                  [formGroup]="correoForm"
                  (ngSubmit)="crearCorreo()"
                  id="correoForm"
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="">Empresa</label>
                        <input
                        appUppercase
                          type="text"
                          class="form-control"
                          formControlName="empresa"
                          [class.is-invalid]="empresa"
                          placeholder="Ingrese una empresa.."
                        />
                        <small *ngIf="empresa" class="text-danger"
                          >Ingrese un correo</small
                        >
                      </div>

                      <div class="form-group col-md-6">
                        <label for="">NOMBRE</label>
                        <input
                          appUppercase
                          type="text"
                          class="form-control"
                          formControlName="nombres"
                          [class.is-invalid]="nombres"
                          placeholder="Ingrese un nombre.."
                        />
                        <small *ngIf="nombres" class="text-danger"
                          >Ingrese un nombre</small
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Apellidos</label>
                        <input
                          appUppercase
                          type="text"
                          class="form-control"
                          formControlName="apellidos"
                          [class.is-invalid]="apellidos"
                          placeholder="Ingrese un nombre.."
                        />
                        <small *ngIf="apellidos" class="text-danger"
                          >Ingrese un apellidos</small
                        >
                      </div>

                      <div class="form-group col-md-6">
                        <label for="">Correo</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="correo"
                          [class.is-invalid]="correo"
                          placeholder="Ingrese un correo.."
                        />
                        <small *ngIf="correo" class="text-danger"
                          >Ingrese un correo</small
                        >
                      </div>


                      

                    </div>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      <i class="bx bx-save"></i>
                      Guardar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
