<div class="container-fluid rounded shadow">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <fieldset class="filtro-container">
            <p class="filtro-titulo">Sube el archivo</p>
            <div class="row">
              <div class="col-md-8">
                <input
                  type="file"
                  class="form-control"
                  (change)="OnCargarArchivo($event)"
                  accept=".xls"
                />
              </div>

              <div class="col-md-4">
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="exportTable()"
                >
                  Exportar a CSV
                </button>
              </div>
            </div>
          </fieldset>
          <!--    </div>
            </div> -->
          <div *ngIf="descargando" class="descargando-overlay">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Descargando...</span>
            </div>
            <p class="text-white mt-2">Descargando reporte excel...</p>
          </div>

          <div *ngIf="cargando" class="descargando-overlay">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Descargando...</span>
            </div>
            <p class="text-white mt-2">Descargando ordenes...</p>
          </div>

          <div *ngIf="!cargando && listaOrdenes.length > 0" class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 10%">F. Registro</th>
                  <th style="width: 10%"># Orden</th>
                  <th style="width: 10%">Cédula</th>
                  <th style="width: 20%">Nombre de paciente</th>
                  <th style="width: 10%">Sexo</th>
                  <th class="table_flex">
                    <div class="table_text">Pruebas</div>
                    <div class="table_text">Resultados</div>
                    <div class="table_text">Unidad</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of listaOrdenes
                      | paginate: { itemsPerPage: 10, currentPage: page }
                  "
                >
                  <td>{{ item.register }}</td>
                  <td>{{ item.numeroroden }}</td>
                  <td>{{ item.cedula }}</td>
                  <td>{{ item.nombres }}</td>
                  <td>{{ item.sexo }}</td>

                  <td>
                    <table class="table">
                      <!--   <thead>
                          <tr>
                            <th>Codigo</th>
                            <th>nombre</th>
                            <th>Valor</th>
                          </tr>
                        </thead> -->
                      <tbody>
                        <tr *ngFor="let prueba of item.tests">
                          <!--            <td style="width: 15%">{{ prueba.TestID }}</td> -->
                          <td style="width: 60%">{{ prueba.TestName }}</td>
                          <td style="width: 20%">{{ prueba.Resultado }}</td>
                          <td style="width: 20%">{{ prueba.Unidad }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="page = $event"
              previousLabel="Anterior"
              nextLabel="Siguiente"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
