.input-text {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}

.input-file {
  /* Oculta el campo de entrada de archivos por defecto */
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
