<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar institucion..."
          />
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="title">Listado de procesos</h6>

          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <table *ngIf="!cargando && listaImport.length > 0" class="table">
              <thead>
                <tr>
                  <th class="text-table">FECHA</th>

                  <!-- <th class="text-table">PRODUCTOS</th> -->
                  <th class="text-table">RESPONSABLE</th>
                  <th class="text-table">Estado</th>
                  <th class="text-table">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let import of listaImport
                      | paginate: { itemsPerPage: 3, currentPage: page }
                  "
                  data-widget="expandable-table"
                  aria-expanded="true"
                >
                  <ng-container>
                    <td>{{ import.FECHAPEDIDO }}</td>

                    <td>
                      {{ import.user | json}}
                    </td>

                    <td>
                      <span
                        *ngIf="import.ESTADO == 1"
                        class="rounded shadow bg-pen"
                        >Creado</span
                      >

                      <span
                        *ngIf="import.ESTADO == 2"
                        class="rounded shadow bg-pen"
                        >Solicitado</span
                      >
                    </td>

                    <td class="text-nowrap">
                      <a
                        [ngClass]="{ 'disabled-icon': import.ESTADO == 2 }"
                        [routerLink]="[
                          '/dashboard',
                          'pedido-importacion',
                          import.id
                        ]"
                      >
                        <i class="bx bx-edit-alt bx-sm"></i>
                      </a>

                      <span class="cursor">
                        <i
                          (click)="borrarPedido(import)"
                          class="bx bxs-trash bx-sm"
                        ></i>
                      </span>
                    </td>
                    <td>
                      <i
                        class="fas fa-caret-right fa-fw"
                        (click)="toggleRow(import.id)"
                        [ngClass]="{
                          'expanded-icon': expandedRows[import.id]
                        }"
                      ></i>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="expandedRows[import.id]">
                    <tr>
                      <thead>
                        <tr>
                          <th>PRODUCTOS</th>
                          <th>CANTIDAD</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let per of import.items">
                          <td>{{ per.ID_PRODUCTO }}</td>
                          <td>{{ per.CANTIDAD }}</td>
                        </tr>
                      </tbody>
                    </tr>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>
