<div class="container-fluid rounded shadow">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <fieldset class="filtro-container">
            <p class="filtro-titulo">Filtros de busqueda</p>
            <div class="row">
              <div class="form-group col-md-2">
                <label for="" class="form-ItemName">N. Orden </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese orden"
                  #SampleID
                />
              </div>

              <div class="form-group col-md-2">
                <label for="" class="form-ItemName">N.- Historia</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese cédula"
                  #PatientID1
                />
              </div>

              <div class="form-group col-md-3">
                <label for="" class="form-ItemName"
                  >Apellidos del paciente</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese un apellido"
                  #apellido
                />
              </div>

              <div class="col-md-4 buton_trasmitir">
                <a
                  (click)="
                    buscar(SampleID.value, PatientID1.value, apellido.value)
                  "
                  class="btn-boton"
                >
                  <!--   <i class="fa fa-search" aria-hidden="true"></i> -->
                  Buscar
                </a>
              </div>
            </div>
          </fieldset>

          <div class="row animated fadeIn fast">
            <div class="col-12">
              <div class="card">
                <div *ngIf="listaordene.length > 0" class="card-body">
                  <!--  <h6 class="title">Listado de Resultados</h6>
 -->

                  <div *ngIf="descargando" class="descargando-overlay">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Descargando...</span>
                    </div>
                    <p class="text-white mt-2">Descargando reporte PDF...</p>
                  </div>

                  <div *ngIf="cargando" class="descargando-overlay">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Descargando...</span>
                    </div>
                    <p class="text-white mt-2">Descargando ordenes...</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 15%">F. Registro</th>
                          <th style="width: 10%">N.- Orden</th>
                          <th style="width: 10%">N.- Historia</th>
                          <th style="width: 25%">Paciente</th>
                          <!--  <th style="width: 25%;" >Doctor</th> -->
                          <th style="width: 15%">Origen</th>
                          <!--  <th>Servicio</th> -->

                          <th style="width: 10%">Estado</th>

                          <th style="width: 10%">Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          *ngFor="
                            let lista of listaordene
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: page,
                                    totalItems: listaordene.length
                                  };
                            e
                          "
                        >
                          <td>
                            {{ lista.RegisterDate }} {{ lista.RegisterHour }}
                          </td>
                          <td>{{ lista.SampleID }}</td>
                          <td>{{ lista.PatientID1 }}</td>
                          <td>
                            {{ lista.SurNameAndName }}
                          </td>

                          <td>{{ lista.Origin }}</td>
                          <!--   <td>{{lista.IsOrderValidated}}</td> -->

                          <td>
                            <div [ngSwitch]="lista.IsOrderValidated">
                              <div *ngSwitchCase="'true'">
                                <span class="badge badge-primary"
                                  >Validado</span
                                >
                              </div>

                              <div *ngSwitchDefault>
                                <span class="badge badge-warning"
                                  >pendiente</span
                                >
                              </div>
                            </div>
                          </td>

                          <td class="actions">
                            <span
                              class="span_delete"
                              (click)="pdf2(lista.SampleID)"
                            >
                              <i class="bx bxs-file-pdf">Pdf</i></span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="page = $event"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
