<div class="container w-75 bg- mt-5 rounded shadow">
  <div class="row align-items-stretch">
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
      <img
        src="./assets/persona registro-01.png"
        class="logoimg img-fluid"
        width="400"
        height="400"
      />
    </div>
    <!--     <div class="col bg-white p-5 rounded-end"> -->
    <!-- <div class="text-end">
            <img src="./assets/LOGO BLUELAB-06.png" class="img-thumbnail" alt="">
          </div> -->

    <div class="col-md-6">
      <div class="card card-info card2">
        <div class="text">
          <h2 class="card-title">Muestras Recibida</h2>
        </div>

        <div class="card-body">
          <form
            autocomplete="off"
            [formGroup]="forma"
            (ngSubmit)="guardar()"
            id="forma"
          >
            <div class="mb-4">
              <label class="form-label">Ingrese muestra</label>

              <input
                autofocus
                class="form-control"
                type="text"
                formControlName="numeroorden"
                placeholder="Numero Orden"
                [class.is-invalid]=""
              />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

            <!--    <div class="d-grid">
                            <label class="col-2 col-form-label">&nbsp;</label>
                        
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <hr>
<pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
    </pre>

<pre>

    <pre>

        {{ forma.value | json }}
    
        </pre>   -->
