<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar pedido..."
          />
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--  <h6 class="title">LISTADO DE PEDIDOS GENERADOS</h6> -->

          <div class="table-responsive">
            <table
              *ngIf="!cargando && listaPedidoStock.length > 0"
              class="table"
            >
              <thead>
                <tr>
                  <th style="width: 10%">FECHA</th>
                  <th style="width: 20%">RESPONSABLE</th>
                  <th style="width: 10%">Estado</th>
                  <th style="width: 30%">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <ng-container
                  *ngFor="
                    let pedido of listaPedidoStock
                      | paginate: { itemsPerPage: 10, currentPage: page };
                    let i = index
                  "
                >
                  <tr>
                    <td>{{ pedido.createdAt | utcDate: "YYYY-MM-dd "}}
                      <br>
                      {{ pedido.createdAt | utcDate: " HH:mm "}}
                    </td>

                    <td>{{ pedido.usuario.doctor }}</td>
                    <td>
                      <div
                        [ngClass]="{
                          generado2: pedido.ESTADO === 1,
                          despachado: pedido.ESTADO === 2,

                          eliminada: pedido.ESTADO === 0
                        }"
                        [ngSwitch]="pedido.ESTADO"
                      >
                        <div *ngSwitchCase="1">Generado</div>
                        <div *ngSwitchCase="2">Despachado</div>
                        <div *ngSwitchDefault>Eliminada</div>
                      </div>
                      <!--   <span
                        *ngIf="pedido.ESTADO == 1"
                        class="rounded shadow bg-pen"
                        >Creado</span
                      >

                      <span
                        *ngIf="pedido.ESTADO == 2"
                        class="rounded shadow bg-com"
                        >Despachado</span
                      >
                      <span *ngIf="pedido.ESTADO == 0" class="rounded shadow"
                        >Anulado</span
                      > -->
                    </td>

                    <td class="actions">
                      <span class="span_edit">
                        <i
                          [ngClass]="{ 'disabled-icon': pedido.ESTADO != 1 }"
                          [routerLink]="[
                            '/dashboard',
                            'solicitud-pedidos',
                            pedido.id
                          ]"
                          class="bx bx-edit-alt"
                        >
                          Editar</i
                        >
                      </span>

                      <span class="span_delete">
                        <i
                          [ngClass]="{ 'disabled-icon': pedido.ESTADO != 1 }"
                          (click)="borrarPedido(pedido)"
                          class="bx bxs-trash"
                        >
                          Eliminar</i
                        >
                      </span>
                      <!--  <span class="span_pdf">

                        <i (click)="ImprimirPDf(pedido)" class="bx bxs-file-pdf "> Pdf</i>

                      </span> -->

                      <span
                        [ngClass]="{ 'disabled-icon': pedido.ESTADO != 1 }"
                        *ngIf="usuario.role.rol !== 'OPERADOR'"
                        class="span_rangos"
                      >
                        <i
                          [routerLink]="['/dashboard', 'despachar', pedido.id]"
                          class="bx bxs-truck"
                        >
                          Despachar</i
                        >
                      </span>

                      <span (click)="toggleDetails(i)">
                        <i
                          class="bx"
                          [ngClass]="{
                            'bxs-down-arrow bx-sm ': showDetails[i],
                            'bxs-right-arrow bx-sm': !showDetails[i]
                          }"
                        ></i>
                      </span>
                    </td>
                  </tr>
                  <ng-container *ngIf="showDetails[i]">
                    <tr>
                      <!--    <th >Referencia</th> -->

                      <th>Bodega destino</th>
                      <th>Referencia</th>
                      <th>Producto</th>
                      <th>Cantidad</th>
                    </tr>
                    <ng-container *ngFor="let item of pedido.itemstock">
                      <tr>
                        <!--   <td>{{ item.ID_PRODUCTO }}</td> -->
                        <td>{{ item.bodega.NOMBRE }}</td>
                        <td>{{ item.product.REFERENCIA }}</td>
                        <td>{{ item.product.NOMBRE }}</td>
                        <td>{{ item.CANTIDAD }}</td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>

  <div class="modal fade show" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">+ Cargar pruebas</h4>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            aria-label="Close"
          >
            Guardar
          </button>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <!--    <button type="button" class="btn btn-default" data-dismiss="modal"></button>
                          <button type="button" data-dismiss="modal" class="btn btn-primary">Guardar</button> -->
      </div>
    </div>
  </div>
</div>
