<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form autocomplete="off">
            <div class="row">
              <div class="form-group col-md-2">
                <label for="text " class="form-ItemName">Identificador</label>
                <input
                  type="text"
                  class="form-control"
                  (keyup)="onSearchOrden(txtsearch.value)"
                  placeholder="Numero de cédula ..."
                  #txtsearch
                />
              </div>

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName"
                  >Apellidos del paciente</label
                >
                <input
                  type="text"
                  class="form-control"
                  (keyup)="onSearchNombre(txtsearchNombre.value)"
                  placeholder="Buscar por apellidos ..."
                  #txtsearchNombre
                />
              </div>

              <div class="form-group col-md-4">
                <label for="text " class="form-ItemName">Filtro</label>
                <input
                  type="date"
                  class="form-control"
                  [value]="fechaActual"
                  #txtfecha
                  (change)="getOrdenes(txtfecha.value)"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--     <h6 class="title">Listado de ordenes ingresdas</h6> -->

          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <table
              *ngIf="!cargando && listaordenesingresdas.length > 0"
              class="table"
            >
              <thead>
                <tr>
                  <th class="title_orden">#. Orden</th>
                  <th class="title_fecha">Fecha</th>
                  <!--   <th>Cédula</th> -->
                  <th class="title_paciente">Paciente</th>

                  <th style="width: 10%">Estado</th>
                  <th style="width: 30%">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let orden of listaordenesingresdas
                      | filtrordenes: search : searchNombre
                      | paginate: { itemsPerPage: 10, currentPage: page }
                  "
                  class="table-row"
                >
                  <td class="table_text">
                    {{ orden.numeroorden }} <br />
                    <i
                      [ngClass]="{
                        'bx bxs-bell-plus animated-icon bx-xs':
                          orden.tipoatencion.nombre === 'EMERGENCIA'
                      }"
                    >
                    </i>

                    <i
                      *ngIf="orden.observaciones"
                      class="bx bxs-first-aid"
                      title="{{ orden?.observaciones }}"
                    ></i>
                  </td>
                  <td>
                    &nbsp;
                    <i class="bx bxs-calendar"> {{ orden.fechaorden }}</i>
                    <br />

                    <i class="bx bxs-time"> {{ orden.horaorden }}</i>
                  </td>

                  <td class="">
                    {{ orden.paciente.numero }} <br />
                    {{ orden.paciente.nombres }} {{ orden.paciente.apellidos }}
                  </td>

                  <td
                    data-toggle="modal"
                    data-target="#modal-default"
                    (click)="OrdenId(orden)"
                  >
                    <div
                      [ngClass]="{
                        generado: orden.estado === 1,
                        pendiente: orden.estado === 2,
                        reportado: orden.estado == 3,
                        validado: orden.estado == 4,
                        eliminada: orden.estado === 0
                      }"
                      [ngSwitch]="orden.estado"
                    >
                      <div *ngSwitchCase="1">Generado</div>
                      <div *ngSwitchCase="true">Generado</div>

                      <div *ngSwitchCase="2">Procesado</div>
                      <div *ngSwitchCase="3">Validado</div>
                      <div *ngSwitchDefault>Eliminada</div>
                    </div>
                  </td>
                  <td class="actions">
                    <!-- [ngClass]="{ 'disabled-icon': orden.estado !==1    }" -->
                    <span
                      [ngClass]="{ 'disabled-icon': orden.estado != 1 }"
                      class="span_edit"
                    >
                      <i
                        [routerLink]="['/dashboard', 'ingresordenes', orden.id]"
                        data-toggle="tooltip"
                        data-original-title="Editar"
                        class="bx bx-edit-alt"
                        title="Editar"
                        >Editar</i
                      >
                    </span>

                    <!--    <span class="span_btn" (click)="pdf2(orden)">
                        <i class="bx bxs-file-pdf bx-sm text-danger"></i>
                      </span> -->

                    <span
                      [ngClass]="{ 'disabled-icon': orden.estado != 1 }"
                      class="span_delete"
                    >
                      <i (click)="deleteOrden(orden)" class="bx bxs-trash"
                        >Eliminar</i
                      >
                    </span>
                    <span
                      [ngClass]="{ 'disabled-icon': orden.estado == 0 }"
                      class="span_rangos"
                    >
                      <i
                        [routerLink]="['/dashboard', 'validacion', orden.id]"
                        class="bx bx-bar-chart"
                        >Validacion</i
                      >
                    </span>
                    <span
                      [ngClass]="{
                        'disabled-icon': orden.estado == 0 || orden.estado == 1
                      }"
                      class="span_rangos"
                    >
                      <i
                        (click)="descargarPdf(orden.id)"
                        class="bx bx-bar-chart"
                        >Pdf</i
                      >
                    </span>
                  </td>
                  <!--   <td>
                    <span
                      *ngIf="orden.estado == 1"
                      class="rounded shadow bg-pen"
                      >Generada</span
                    >
                    <span *ngIf="orden.estado ==0" class="rounded shadow "
                      >Eliminada</span
                    >
                  </td> -->

                  <!--   <td class="text-nowrap">
                    <a
                      [routerLink]="['/dashboard', 'ingresordenes', orden.id]"
                      data-toggle="tooltip"
                      data-original-title="Editar"
                    >
                      <i class="bx bx-edit-alt bx-sm"></i>
                    </a>

                      <span class="rounded shadow cursor" (click)="pdf2(orden)">
                      <i class="bx bxs-file-pdf bx-sm text-danger"></i>
                    </span>
                    <span>
                      <i
                        [routerLink]="['/dashboard', 'validacion', orden.id]"
                        class="bx bx-health bx-sm"
                      ></i>
                    </span>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>

  <div class="modal fade show" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-">
          <div class="container-fluid">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="demographic-card">
                    <div class="demographic-content">
                      <div class="demographic-column">
                        <p>
                          <i class="bx bxs-notepad bx-sm"></i>
                          {{ listaOrdenId?.numeroorden }}
                        </p>

                        <p>
                          <i class="bx bxs-user-circle bx-sm"></i>
                          {{ listaOrdenId?.paciente.apellidos }},
                          {{ listaOrdenId?.paciente.nombres }}
                        </p>
                        <p>
                          <i class="bx bxs-user-pin bx-sm"></i>
                          {{ listaOrdenId?.paciente.numero }}
                        </p>
                      </div>
                      <div class="demographic-column">
                        <p>
                          <i class="bx bxs-calendar bx-sm"></i>
                          {{ listaOrdenId?.fechaorden }}

                          {{ listaOrdenId?.horaorden }}
                        </p>

                        <p>
                          <i class="bx bxs-bell-plus bx-sm"></i>
                          {{ listaOrdenId?.tipoatencion.nombre }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th>Examen</th>
                        <th>Estado</th>
                        <th>Recepción muestra</th>
                        <th>Usuario Reporta</th>
                        <th>Fecha Reporta</th>
                        <th>Usuario Valida</th>
                        <th>Fecha Valida</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prueba of listaOrdenId?.prueba">
                        <ng-container *ngIf="prueba.panelprueba.ORDEN !== 2">
                          <td>
                            {{ prueba.panelprueba.NOMBRE }}
                          </td>

                          <td>
                            <div [ngSwitch]="prueba.estado">
                              <div *ngSwitchCase="1">Generado</div>
                              <div *ngSwitchCase="2">Pendiente</div>
                              <div *ngSwitchCase="3">rechazado</div>
                              <div *ngSwitchCase="4">Reportado</div>

                              <div *ngSwitchDefault>Validado</div>
                            </div>
                          </td>
                          <td>
                            {{ prueba.fechaorden }} <br />{{ prueba.horaorden }}
                          </td>
                          <td>{{ prueba?.reportador?.doctor }}</td>
                          <td>
                            {{ prueba?.fechaordenreportada }} <br />
                            {{ prueba?.horaordenreportada }}
                          </td>

                          <td>{{ prueba?.validador?.doctor }}</td>
                          <td>
                            {{ prueba?.fechaordenvalidada }} <br />
                            {{ prueba?.horaordenvalidada }}
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-between"></div>
      </div>
    </div>
  </div>
</div>
