/* .container {
  width: 50%;
  min-height: 550px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.actualizar {
  margin: 0 auto;
}
.rg {
  color: #ff8970;
  background: #fff;

  text-align: center;
}

.text-table {
  width: 20%;
}

.bg-com {
  background-color: #06d641;
  background-position: center;
  padding: 5px 5px;
}

table {
  width: 100%;

  border-collapse: collapse;
}

thead th {
  font-size: 1rem;
}
tbody td {
  font-size: 0.9rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006CAE;
}
th,
td {
  padding:  8px;
  border: 1px solid #ddd;
}

.disabled-icon {
  opacity: 0.5;

  pointer-events: none;
}
.bg-pen {
  background-color: #eee52b;
  background-position: center;
  padding: 5px 5px;
}

.espacio {
  margin: 10 auto;
  margin-left: 30px;
}

.esboton {
  margin: 0 auto;
  margin-left: 80px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
 */