<div class="">
  <div class="">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-3"
            *ngFor="let data of graficaPastel"
          >
            <div class="info-box">
              <span class="info-box-icon elevation-1"
                ><i class="fa fa-user-md" aria-hidden="true"></i
              ></span>

              <div class="info-box-content">
                <span class="info-box-text">{{ data.nombre }}</span>
                <span class="info-box-number">
                  {{ data.porcentaje }}
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Reporte tipo de atencion</h5>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-tool dropdown-toggle"
                      data-toggle="dropdown"
                    >
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a href="#" class="dropdown-item">Action</a>
                      <a href="#" class="dropdown-item">Another action</a>
                      <a href="#" class="dropdown-item">Something else here</a>
                      <a class="dropdown-divider"></a>
                      <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body2">
                <div>
                  <ngx-charts-bar-vertical-2d
                    [autoScale]="true"
                    [barPadding]="2"
                    [trimYAxisTicks]="true"
                    [trimXAxisTicks]="true"
                    [wrapTicks]="true"
                    [scheme]="colorScheme"
                    [results]="graficaLinear"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [legendTitle]="legendTitle"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                  >
                  </ngx-charts-bar-vertical-2d>
                  <!--   <ngx-charts-bar-vertical
                  [scheme]="colorScheme"

                  [autoScale]="true"
                  [legendTitle]="legendTitle"
                  [roundDomains]="true"
                  [trimXAxisTicks]="true"
                  [gradient]="gradient"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [results]="graficaLinear"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-bar-vertical -->

                  <!--  <swiper-container
                    class="mySwiper"
                    pagination="true"

                    autoplay-disable-on-interaction="false"
                  >
                    <swiper-slide>
                      <ngx-charts-bar-vertical
                        [scheme]="colorScheme"

                        [autoScale]="true"
                        [legendTitle]="legendTitle"
                        [roundDomains]="true"
                        [trimXAxisTicks]="true"
                        [gradient]="gradient"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="graficaLinear"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                      >
                      </ngx-charts-bar-vertical
                    ></swiper-slide>
                    <swiper-slide>
                      <ngx-charts-bar-vertical

                        [autoScale]="true"
                        [scheme]="colorScheme"
                        [results]="graficaBarras"
                        [roundDomains]="true"
                        [trimXAxisTicks]="true"
                        [trimYAxisTicks]="true"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)"
                      >
                      </ngx-charts-bar-vertical>
                    </swiper-slide>
                  </swiper-container> -->
                </div>
                <!-- ./card-body -->
                <!--   <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"
                        ><i class="fas fa-caret-up"></i> 17%</span
                      >
                      <h5 class="description-header">$35,210.43</h5>
                      <span class="description-text">TOTAL REVENUE</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-warning"
                        ><i class="fas fa-caret-left"></i> 0%</span
                      >
                      <h5 class="description-header">$10,390.90</h5>
                      <span class="description-text">TOTAL COST</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"
                        ><i class="fas fa-caret-up"></i> 20%</span
                      >
                      <h5 class="description-header">$24,813.53</h5>
                      <span class="description-text">TOTAL PROFIT</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block">
                      <span class="description-percentage text-danger"
                        ><i class="fas fa-caret-down"></i> 18%</span
                      >
                      <h5 class="description-header">1200</h5>
                      <span class="description-text">GOAL COMPLETIONS</span>
                    </div>

                  </div>
                </div>

              </div> -->
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>

          <div class="col-md-2">
            <div class="info-box mb-3" *ngFor="let data of listaday">
              <span class="info-box-icon"
                ><i class="fa fa-heartbeat" aria-hidden="true"></i
              ></span>

              <div class="info-box-content">
                <span class="info-box-text">{{ data.category }}</span>
                <span class="info-box-number">{{ data.total }}</span>
              </div>
            </div>
          </div>
          <!-- /.row -->

          <!-- Main row -->
          <div class="row">
            <!--   <div class="col-md-8">

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">US-Visitors Report</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>

               <div class="card-body p-0">
                  <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                     <div class="col-md-12">
                      <ngx-charts-bar-vertical
                      [view]="viewLinear"
                      [scheme]="colorScheme"
                      [results]="graficaBarras"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                     </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="row">

            </div> -->
          </div>

          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Listado de ordenes</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <div class="card-body p-0">
              <div #tableContainer class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th class="sticky-header" style="width: 10%">Order ID</th>
                      <th class="sticky-header" style="width: 30%">Origen</th>
                      <th class="sticky-header" style="width: 10%">Estado</th>

                      <th class="sticky-header" style="width: 10%">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of listaordenesmensual">
                      <td>{{ data.SampleID }}</td>
                      <td>{{ data.Origin }}</td>

                      <td>
                        <div [ngSwitch]="data.IsOrderValidated">
                          <div *ngSwitchCase="true">
                            <span class="badge badge-warning">Generado</span>
                          </div>
                          <div *ngSwitchDefault>
                            <span class="badge badge-warning">Pendiente</span>
                          </div>
                        </div>
                      </td>
                      <td>{{ data.RegisterDate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
