<div class="">
  <div class="">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Monthly Recap Report</h5>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-tool dropdown-toggle"
                      data-toggle="dropdown"
                    >
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a href="#" class="dropdown-item">Action</a>
                      <a href="#" class="dropdown-item">Another action</a>
                      <a href="#" class="dropdown-item">Something else here</a>
                      <a class="dropdown-divider"></a>
                      <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <swiper-container
                      class="mySwiper"
                      pagination="true"
                      pagination-clickable="true"
                      navigation="true"
                      space-between="30"
                      centered-slides="true"
                      autoplay-delay="3500"
                      autoplay-disable-on-interaction="false"
                    >
                      <swiper-slide>
                        <ngx-charts-line-chart
                          [view]="viewLinear"
                          [scheme]="colorScheme"
                          [legend]="legend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxis]="xAxis"
                          [yAxis]="yAxis"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [timeline]="timeline"
                          [results]="multi"
                          (select)="onSelect($event)"
                          (activate)="onActivate($event)"
                          (deactivate)="onDeactivate($event)"
                        >
                        </ngx-charts-line-chart
                      ></swiper-slide>
                      <swiper-slide>
                        <ngx-charts-advanced-pie-chart
                          [view]="viewPastel"
                          [scheme]="colorScheme"
                          [results]="conteoPorEstadoArray"
                          [gradient]="gradient"
                          (select)="onSelect($event)"
                          (activate)="onActivate($event)"
                          (deactivate)="onDeactivate($event)"
                        >
                        </ngx-charts-advanced-pie-chart>
                      </swiper-slide>
                      <!--  <swiper-slide>Slide 3</swiper-slide>
                      <swiper-slide>Slide 4</swiper-slide>
                      <swiper-slide>Slide 5</swiper-slide>
                      <swiper-slide>Slide 6</swiper-slide>
                      <swiper-slide>Slide 7</swiper-slide>
                      <swiper-slide>Slide 8</swiper-slide>
                      <swiper-slide>Slide 9</swiper-slide> -->
                    </swiper-container>
                  </div>
                  <!-- /.row -->
                </div>
                <!-- ./card-body -->
                <!--   <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"
                        ><i class="fas fa-caret-up"></i> 17%</span
                      >
                      <h5 class="description-header">$35,210.43</h5>
                      <span class="description-text">TOTAL REVENUE</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-warning"
                        ><i class="fas fa-caret-left"></i> 0%</span
                      >
                      <h5 class="description-header">$10,390.90</h5>
                      <span class="description-text">TOTAL COST</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"
                        ><i class="fas fa-caret-up"></i> 20%</span
                      >
                      <h5 class="description-header">$24,813.53</h5>
                      <span class="description-text">TOTAL PROFIT</span>
                    </div>

                  </div>

                  <div class="col-sm-3 col-6">
                    <div class="description-block">
                      <span class="description-percentage text-danger"
                        ><i class="fas fa-caret-down"></i> 18%</span
                      >
                      <h5 class="description-header">1200</h5>
                      <span class="description-text">GOAL COMPLETIONS</span>
                    </div>

                  </div>
                </div>

              </div> -->
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
              <!-- MAP & BOX PANE -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">US-Visitors Report</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                      <ngx-charts-line-chart
                        [view]="viewLinear"
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                      >
                      </ngx-charts-line-chart>
                    </div>
                  </div>
                  <!-- /.d-md-flex -->
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="row">
              <!-- /.col -->
            </div>

            <swiper-container
              class="mySwiper"
              pagination="true"
              pagination-dynamic-bullets="true"
            >
              <swiper-slide>
                <ngx-charts-line-chart
                  [view]="viewLinear"
                  [scheme]="colorScheme"
                  [legend]="legend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [results]="multi"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-line-chart>
              </swiper-slide>
              <swiper-slide>
                <ngx-charts-advanced-pie-chart
                  [view]="viewPastel"
                  [scheme]="colorScheme"
                  [results]="conteoPorEstadoArray"
                  [gradient]="gradient"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-advanced-pie-chart>
              </swiper-slide>
              <!--  <swiper-slide>Slide 3</swiper-slide>
              <swiper-slide>Slide 4</swiper-slide>
              <swiper-slide>Slide 5</swiper-slide>
              <swiper-slide>Slide 6</swiper-slide>
              <swiper-slide>Slide 7</swiper-slide>
              <swiper-slide>Slide 8</swiper-slide>
              <swiper-slide>Slide 9</swiper-slide> -->
            </swiper-container>
          </div>

          <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning" *ngFor="let data of listaday">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">{{ data.category }}</span>
                <span class="info-box-number">{{ data.total }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

            <!-- /.info-box -->

            <!-- /.info-box -->

            <!-- /.info-box -->

            <!-- PRODUCT LIST -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
