
<div class="container-fluid">
     <div class="col-md-12">
       <div class="card">
         <div class="card-body">
           <div class="wrapper">
             <div class="tabs">
               <div class="tab">
              
                 <label for="tab-1" class="tab-label">Lab General</label>
                
                     <div class="card">
                       <div class="card-header card-title colorquimi">
                         <p class="tittle"></p>
                       </div>

                       <div class="card-body">
                         <div class="caso" >
                           <input
                             type="checkbox"
                             name="checkbox"
                             
                           />
                          
                           <label class="margin">
                           
                           </label>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              
             </div>
           </div>
         </div>
     
   </div>