/* * {
  outline: 1px solid blue;
} */
.result_anti {
  display: flex;
  gap: 20px;
  font-weight: bold;
  /*   padding: 4px 0; */
  border-bottom: 1px solid #999;
}

.result_anti2 {
  display: flex;
  gap: 20px;

  padding: 4px 0;
  border-bottom: 1px solid #999;
}
/* table {
  width: 100%;
}
.table tr {
  cursor: pointer;
  border-collapse: collapse;
}

thead th {

  text-align: center;
  font-size: 0.7rem;
  margin: 0 auto;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tbody td {
  word-wrap: break-word;

  font-size: 0.5rem;
  text-align: center;

  padding: 10px;
  white-space: normal;
}

th,
td {
  padding: 2px 0.1px;
}
 */
.scroll_table {
  overflow-x: auto;
  width: 200%;
}
